<div class="xu_main_right fr">
    <div class="hottest">
        <span class="hottest_icon pr fr">
            <div class="explain pa"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                The current hot list is updated every 5 minutes, and the list is sorted according to the current revenue of the broadcaster's room.
            </font></font></div>	
        </span>
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Hottest currently
            </font>
        </font>
    </div>
    <ul class="hottest_list" id="J_arrive_rank_10">  
        <li class="list_li1"> 
            <div class="list_medal meda1 fl "></div>
                <div class="list_dl fl"> 
                    <div class="img fl pr">
                        <a class="goto_room" href="/l/rTRwY9Pfw1gW-iqm.html?p_from=pHome.AnchorSquare?p_from=Phome_BestAnchorList" target="_live" title="Lu Zijun. Live room"> <img src="https://alcdn.img.xiaoka.tv/20190514/632/60a/326969059/63260ae027bf1134c9e5b7f0f9ca7553.jpg@1e_1c_0o_0l_140h_140w_100q_1pr.webp" alt="Lu Zijun.'s picture">
                        <span class="xu_vip20 pa"></span>
                        </a> 
                </div>
                <div class="information fl">
                        <p class="p1"> 
                            <span class="surface fr">
                                <span class="sur_face1 surfa fl"></span>
                                <span class="sur_face2 surfa fl"></span>
                                <span class="sur_face3 surfa fl"></span>
                        </span>
                        <a class="goto_room txt-cut" href="/l/rTRwY9Pfw1gW-iqm.html?p_from=pHome.AnchorSquare?p_from=Phome_BestAnchorList" target="_live" title="Lu Zijun. Live room"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lu Zijun.</font></font></a>
                    </p> 
                    <p class="p2">
                        <span class="fire fl"></span>
                        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">43067</font></font>
                    </p>
                    </div>
            </div>
            </li>
    </ul>
</div>